bbmap.sif
.cdx
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*/FASTQC/
*/FASTQC_FILTERED/
*/FASTQC_MERGED/
*_fastp.html
*_fastp.json
*.merged.fq
*.trimmed.fq
*.unmerged_R1.fastq
*.unmerged_R2.fastq
*.merged.min*.fq
*.trimmed.min*.fq
*.vj.exhaustive.tsv
*.vj.exhaustive.summary.tsv
*.vj.exhaustive.html
*.clonal.report.txt
